
<h1>크롤링 후 데이터 분석 테스트</h1>
<p>키워드 : <%=@keyword%></p>
<p>all content : <%=@all_content%></p>
<p>형태소 분석기 가동 후 : <%=@divide_content%></p>
<p>키워드 빈도수 : <%=@appear_count%></p>
<!--<p>기본사전 : <%#=@base_dic%></p>-->
<p>명사 뽑아내기 : <%=@noun_content%></p>
<p>BASE_WORD 걸러내기 : <%=@complete_fillter_content%></p>

